@page "/game"
@layout EmptyLayout

<div class="container">
    <div class="opponent-info"></div>
    <div class="opponent-area"></div>
    <div class="shared-area"></div>
    <div class="player-area"></div>
    <div class="player-info"></div>
</div>

@code {

}
