@page "/game"
@layout EmptyLayout

<div class="container">
    <div class="opponent-info-row">
        <div></div>
        <div class="opponent-info">opponent info</div>
    </div>
    <div class="opponent-area">
        <div class="side-pocket"></div>
        <div class="opponent-play-area">
            <div class="opponent-hand"></div>
            <div class="opponent-bench">
                <div class="bench-spot card-container" id="opponent-bench-1"></div>
                <div class="bench-spot card-container" id="opponent-bench-2"></div>
                <div class="bench-spot card-container" id="opponent-bench-3"></div>
                <div class="bench-spot card-container" id="opponent-bench-4"></div>
                <div class="bench-spot card-container" id="opponent-bench-5"></div>
            </div>
            <div class="opponent-active">
                <div class="active-spot card-container" id="opponent-active-0"></div>
            </div>
        </div>
        <div class="side-pocket"></div>
    </div>
    <div class="shared-area">
        <div></div>
        <div class="stadium card-container">stadium</div>
        <div></div>
        <div class="timer">timer</div>
        <div></div>
    </div>
    <div class="player-area">
        <div class="side-pocket"></div>
        <div class="player-play-area">
            <div class="player-active">
                <div class="active-spot card-container" id="player-active-0"></div> 
            </div>
            <div class="player-bench">
                <div class="bench-spot card-container" id="player-bench-1"></div>
                <div class="bench-spot card-container" id="player-bench-2"></div>
                <div class="bench-spot card-container" id="player-bench-3"></div>
                <div class="bench-spot card-container" id="player-bench-4"></div>
                <div class="bench-spot card-container" id="player-bench-5"></div>
            </div>
            <div class="player-hand"></div>
        </div>
        <div class="side-pocket"></div>
    </div>
    <div class="player-info-row">
        <div class="player-info">player info</div>
        <div></div>
    </div>
</div>

@code {

}