.container {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr auto;
}

.card-container {
    height: 11.5dvh;
    aspect-ratio: 63 / 88;
}

.opponent-info-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.opponent-info {
    background-color: red;
    color: white;
}

.opponent-area, .player-area {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: lightgray;
}

.opponent-play-area, .player-play-area {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-content: center;
}

.opponent-hand, .player-hand {
    display: flex;
    align-items: center;
    background-color: #ccc;
}

.opponent-bench, .player-bench {
    display: grid;
    background-color: #bbb;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 100%;
    margin: 10px 0 10px 0;
}

.bench-spot {
    background-color: fuchsia;
}

.opponent-active, .player-active {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #aaa;
}

.active-spot {
    background-color: fuchsia;
}

.opponent-hand, .player-hand {
    display: flex;
    gap: 5px;
}

.opponent-hand-spot {
    background-color: cyan;
}

.player-hand-spot {
    background-color: fuchsia;

}

.shared-area {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}

.side-pocket {
    background-color: gray;
}

.opponent-prizes, .player-prizes {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    margin: 10px;
    max-width: 100%;
}

.opponent-prizes > .card-container,
.player-prizes > .card-container {
    background-color: cyan;
}

.opponent-left-side-pocket,
.player-right-side-pocket {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 5px;
}

.opponent-deck, .player-deck {
    background-color: cyan;
}

.opponent-discard, .player-discard {
    background-color: fuchsia;
}

.stadium {
    background-color: fuchsia;
}

.timer {
    background-color: black;
    color: white;
}

.player-info-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.player-info {
    background-color: blue;
    color: white;
}