.container {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr auto;
}

.card-container {
    width: 100%;
    min-height: 60px;
    max-width: 180px;
    aspect-ratio: 63 / 88;
}

.card {
    width: 100%;
    height: 100%;
}

.opponent-info-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.opponent-info {
    background-color: red;
    color: white;
}

.opponent-area, .player-area {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: lightgray;
}

.opponent-play-area, .player-play-area {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-content: center;
}

.opponent-hand, .player-hand {
    background-color: #ccc;
}

.opponent-bench, .player-bench {
    display: grid;
    background-color: #bbb;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 100%;
    margin: 10px 0 10px 0;
}

.bench-spot {
    margin: 0 20px 0 20px;
    background-color: fuchsia;
}

.opponent-active, .player-active {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #aaa;
}

.active-spot {
    margin: 0 20px 0 20px;
    background-color: fuchsia;
}

.shared-area {
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
}

.side-pocket {
    background-color: gray;
}

.stadium {
    background-color: fuchsia;
}

.timer {
    background-color: black;
    color: white;
}

.player-info-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.player-info {
    background-color: blue;
    color: white;
}