@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<select @bind="userId">
    <option value="0">User 0</option>
    <option value="1">User 1</option>
</select>

<a href=@($"/game/{userId}")>Game</a>

@code {
    private int userId;
}